<style>
.raz {
  all: unset;
  -moz-appearance: textfield;
  width: 3em;
  text-align: center;
}
.raz::-webkit-inner-spin-button {
  display: none;
}
</style>

{% extends 'base.html' %}

{% block h1 %}
Форма заказа
{% endblock %}

{% block content %}
  <form method = "post">
    {% for product in products %}
      <div class="form-row align-items-center">
        <div class="form-group col-md-1">
          <img src ="{{ product.image }}" width = "50" height = "50" alt = "{{ product.name }}">
        </div>
        <div class="form-group col-md-4">
          {{ product.name }}
        </div>
        <div class="form-group col-md-3">
          {{ product.price }} р
        </div>
        <div class="form-group col-md-2">
          <button type="button" class="btn btn-primary" onclick="this.nextElementSibling.stepDown()">-</button>
          <input type="number" min="0" max="20" value="0" readonly class="raz" name = "{{ product.name }}">
          <button type="button" class="btn btn-primary" onclick="this.previousElementSibling.stepUp()">+</button>
        </div>
        <div class="form-group col-md-2">
        </div>
      </div>
    {% endfor %}
    <hr>
    <div class="form-group">
      <label for="name">Имя</label>
      <input class="form-control" type="text" id="name" name="name" placeholder="Ваше имя" required>
    </div>
    <div class="form-group">
      <label for="surname">Фамилия</label>
      <input type="text" class="form-control" id="surname" name="surname" placeholder="Ваша фамилия" required>
    </div>
    <div class="form-group">
      <label for="adress">Адрес</label>
      <input type="text" class="form-control" id="adress" name="adress" placeholder="Ваш адрес" required>
    </div>
    <div class="form-group">
      <label for="phone">Телефон</label>
      <input type="tel" class="form-control" id="phone" name="phone" placeholder="Ваш телефон" required>
    </div>
    <div class="form-group">


        <button type="submit" class="btn btn-primary d-block mx-auto">Заказать</button>



    </div>
  </form>
{% endblock %}